A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
HR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
A {
	COLOR: #03c
}
A:hover {
	COLOR: #f60
}
A:active {
	COLOR: #f60
}
A:focus {
	COLOR: #f60
}
A:hover {
	TEXT-DECORATION: underline
}
DIV.clear {
	HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both
}
DIV.cleft {
	CLEAR: left
}
INPUT {
	BACKGROUND-COLOR: #fff; COLOR: #000
}
TEXTAREA {
	BACKGROUND-COLOR: #fff; COLOR: #000
}
TEXTAREA {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
INPUT[type='submit'] {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #eee; MARGIN: 0.25em; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
BUTTON {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #eee; MARGIN: 0.25em; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
H1 {
	FONT-SIZE: 1.75em; FONT-WEIGHT: bold
}
H2 {
	FONT-SIZE: 1.5em; FONT-WEIGHT: bold
}
H3 {
	FONT-SIZE: 1.25em; FONT-WEIGHT: bold
}
H4 {
	FONT-SIZE: 1.25em; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 1em; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 1em; FONT-WEIGHT: normal
}
P {
	MARGIN: 1em 0px
}
PRE {
	WORD-WRAP: break-word
}
.body PRE {
	TEXT-ALIGN: left
}
SPAN.date {
	FONT-STYLE: italic; PADDING-LEFT: 0.5em; DISPLAY: inline-block
}
UL.error {
	MARGIN: 1em; COLOR: red
}
UL.error > LI {
	LIST-STYLE-TYPE: disc; MARGIN: 0.25em
}
#contentWrapper {
	WIDTH: 100%; FLOAT: left
}
#content {
	MARGIN-TOP: 11px; WIDTH: auto; FLOAT: none; MARGIN-RIGHT: 325px
}
#rail {
	MARGIN-TOP: 11px; WIDTH: 300px; FLOAT: left; MARGIN-LEFT: -300px
}
A.help {
	DISPLAY: block; MARGIN-BOTTOM: 1em; FONT-SIZE: 1.35em; FONT-WEIGHT: bold
}
DIV.ask {
	BORDER-BOTTOM: #61aa34 2px solid; TEXT-ALIGN: center; BORDER-LEFT: #61aa34 2px solid; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #61aa34 2px solid; BORDER-RIGHT: #61aa34 2px solid; PADDING-TOP: 0.5em
}
DIV.ask > A[name='ask'] {
	PADDING-BOTTOM: 0.5em; BACKGROUND-COLOR: #61aa34; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; DISPLAY: inline-block; MARGIN-BOTTOM: 0.5em; COLOR: #fff; FONT-SIZE: 1.25em; FONT-WEIGHT: bold; PADDING-TOP: 0.5em
}
DIV.ask > A[name='ask']:hover {
	COLOR: #ff0; TEXT-DECORATION: none
}
DIV.ask > P {
	MARGIN: 0px
}
A.author {
	COLOR: green; CURSOR: pointer; TEXT-DECORATION: none
}
A.author:hover SPAN.name {
	COLOR: #f60
}
A:active SPAN.name {
	COLOR: #f60
}
A:focus SPAN.name {
	COLOR: #f60
}
A.author > SPAN {
	DISPLAY: inline-block; VERTICAL-ALIGN: top
}
A.author > ABBR {
	DISPLAY: inline-block; VERTICAL-ALIGN: top
}
LI.forumheader A.author ABBR {
	MARGIN-LEFT: 0.5em
}
LI.forum A.author ABBR {
	MARGIN-LEFT: 0.5em
}
LI.thread A.author ABBR {
	MARGIN-LEFT: 0.5em
}
LI.message A.author ABBR {
	MARGIN: 0px
}
LI.message A.author SPAN {
	MARGIN-RIGHT: 0.5em
}
A.author > ABBR {
	COLOR: #000
}
A.author > SPAN > ABBR {
	DISPLAY: block; COLOR: #000
}
SPAN.fullbadge {
	DISPLAY: inline-block; PADDING-TOP: 0.25em
}
DIV.medal {
	DISPLAY: block; PADDING-TOP: 0.25em
}
DIV.badge SPAN.affil {
	DISPLAY: block; PADDING-TOP: 0.25em
}
SPAN.fullbadge > SPAN.affil {
	DISPLAY: block; PADDING-TOP: 0.25em
}
SPAN.fullbadge > SPAN.medals {
	DISPLAY: block; PADDING-TOP: 0.25em
}
.author > .affil {
	MARGIN-LEFT: 0.5em; MARGIN-RIGHT: 0.5em
}
A.btn > IMG {
	MARGIN-RIGHT: 0.25em
}
A.popup > IMG {
	MARGIN-RIGHT: 0.25em
}
A.btn {
	BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; BORDER-TOP: transparent 1px solid; BORDER-RIGHT: transparent 1px solid
}
A.popup {
	BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; BORDER-TOP: transparent 1px solid; BORDER-RIGHT: transparent 1px solid
}
A.btn:hover {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
A.popup:hover {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
A.btn:active {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
A.popup:active {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
A.btn:focus {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
A.popup:focus {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
A.selected.btn {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #eee; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
DIV.bread {
	MARGIN-BOTTOM: 1.75em
}
DIV.pager A {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 0.5em 0px; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; DISPLAY: inline-block; PADDING-TOP: 0.25em
}
DIV.pager SPAN {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 0.5em 0px; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; DISPLAY: inline-block; PADDING-TOP: 0.25em
}
DIV.pager A {
	BORDER-BOTTOM: 1px; BORDER-LEFT: 1px; BORDER-TOP: 1px; BORDER-RIGHT: 1px
}
DIV.threads .pager {
	PADDING-BOTTOM: 40px; PADDING-TOP: 30px
}
DIV.threads .pager SPAN.itemSpan {
	FLOAT: left
}
DIV.threads .pager {
	TEXT-ALIGN: right
}
HR {
	TEXT-ALIGN: left; MARGIN: 0.5em 0px; WIDTH: 40%; HEIGHT: 1px; BORDER-TOP: #bbb 1px solid
}
HR.sig {
	TEXT-ALIGN: left; MARGIN: 0.5em 0px; WIDTH: 40%; HEIGHT: 1px; BORDER-TOP: #bbb 1px solid
}
IMG.submitting {
	BACKGROUND-IMAGE: url(../images/loading.gif); BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 24px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
IMG.icon {
	BACKGROUND-IMAGE: url(../images/icons.png); BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
IMG.submitting.icon {
	BACKGROUND-IMAGE: url(../images/loading.gif); WIDTH: 24px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 24px
}
IMG.abusive {
	BACKGROUND-POSITION: -20px 0px
}
IMG.alltypes {
	BACKGROUND-POSITION: -740px 0px
}
IMG.ascending {
	BACKGROUND-IMAGE: url(../images/expandcollapse.png); WIDTH: 20px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -20px 0px; HEIGHT: 20px
}
IMG.inmaintenance {
	BACKGROUND-POSITION: -700px 0px
}
IMG.ascending > hover {
	BACKGROUND-POSITION: -40px 0px
}
IMG.descending {
	BACKGROUND-IMAGE: url(../images/expandcollapse.png); WIDTH: 20px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; HEIGHT: 20px
}
IMG.autoupdates {
	BACKGROUND-POSITION: -500px 0px
}
IMG.close {
	BACKGROUND-POSITION: -620px 0px
}
IMG.comment {
	BACKGROUND-POSITION: -120px 0px
}
IMG.helpful {
	BACKGROUND-POSITION: -200px 0px
}
IMG.list {
	BACKGROUND-POSITION: -760px 0px
}
IMG.markread {
	BACKGROUND-POSITION: -800px 0px
}
IMG.none {
	BACKGROUND-POSITION: 0px 0px
}
IMG.noreplies {
	BACKGROUND-POSITION: -340px 0px
}
IMG.options {
	BACKGROUND-POSITION: -740px 0px
}
IMG.pause {
	BACKGROUND-POSITION: -360px 0px
}
IMG.rss {
	BACKGROUND-POSITION: -640px 0px
}
IMG.sort {
	BACKGROUND-POSITION: -500px 0px
}
IMG.split {
	BACKGROUND-POSITION: -740px 0px
}
IMG.tag {
	BACKGROUND-POSITION: -100px 0px
}
IMG.threaded {
	BACKGROUND-POSITION: -780px 0px
}
IMG.unread {
	BACKGROUND-POSITION: -300px 0px
}
IMG.user {
	BACKGROUND-POSITION: -560px 0px
}
IMG.alert {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.answer {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.answered {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.ask {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.assign {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.changetype {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.delete {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.edit {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.escalate {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.folder {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.hascode {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.join {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.locked {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.medalon {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.merge {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.move {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.nntp {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.propose {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.proposed {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.quote {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.question {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.reply {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.unanswered {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.sticky {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.split {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.voteup {
	BACKGROUND-IMAGE: url(../images/icon_strip.png)
}
IMG.alert {
	BACKGROUND-POSITION: -80px 0px
}
IMG.answer {
	BACKGROUND-POSITION: -60px 0px
}
IMG.answered {
	BACKGROUND-POSITION: -60px 0px
}
IMG.ask {
	BACKGROUND-POSITION: 0px 0px
}
IMG.assign {
	BACKGROUND-POSITION: -300px 50%
}
IMG.changetype {
	BACKGROUND-POSITION: -260px 50%
}
IMG.delete {
	BACKGROUND-POSITION: -160px 0px
}
IMG.edit {
	BACKGROUND-POSITION: -140px 0px
}
IMG.escalate {
	BACKGROUND-POSITION: -380px 0px
}
IMG.folder {
	BACKGROUND-POSITION: -480px 0px
}
IMG.hascode {
	BACKGROUND-POSITION: -360px 0px
}
IMG.join {
	BACKGROUND-POSITION: -440px 0px
}
IMG.locked {
	BACKGROUND-POSITION: -220px 0px
}
IMG.medalon {
	BACKGROUND-POSITION: -180px 0px
}
IMG.merge {
	BACKGROUND-POSITION: -280px 0px
}
IMG.move {
	BACKGROUND-POSITION: -240px 0px
}
IMG.nntp {
	BACKGROUND-POSITION: -460px 0px
}
IMG.propose {
	BACKGROUND-POSITION: -340px 0px
}
IMG.proposed {
	BACKGROUND-POSITION: -340px 0px
}
IMG.quote {
	BACKGROUND-POSITION: -20px 0px
}
IMG.question {
	BACKGROUND-POSITION: -40px 0px
}
IMG.unanswered {
	BACKGROUND-POSITION: -40px 0px
}
IMG.reply {
	BACKGROUND-POSITION: -100px 0px
}
IMG.sticky {
	BACKGROUND-POSITION: -120px 0px
}
IMG.split {
	BACKGROUND-POSITION: -320px 0px
}
IMG.voteup {
	BACKGROUND-POSITION: -420px 0px
}
.hover {
	CURSOR: pointer
}
A.expcol {
	BACKGROUND-IMAGE: url(../images/down_chevron.png); WIDTH: 20px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 20px
}
IMG.expcol {
	BACKGROUND-IMAGE: url(../images/down_chevron.png); WIDTH: 20px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 20px
}
.expanded A.expcol {
	BACKGROUND-IMAGE: url(../images/up_chevron.png); DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%
}
DIV.box {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
LI.box {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
DIV.box > H4 {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em
}
DIV.box > H4 > .help {
	MARGIN-LEFT: 1em; FONT-SIZE: 0.75em; FONT-WEIGHT: normal
}
DIV.box > .help {
	MARGIN: 0.25em 1em; FONT-SIZE: 0.8em
}
DIV.box > .content {
	MARGIN: 0.5em 0.5em 0.5em 0px
}
DIV.box > UL.content > LI {
	PADDING-BOTTOM: 0.25em
}
DIV.box > TABLE {
	WIDTH: 95%
}
DIV.box > HR {
	WIDTH: 100%
}
DIV.stats.box > TABLE TH {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0.25em; TEXT-DECORATION: underline
}
DIV.stats.box > TABLE TD:first-child {
	TEXT-ALIGN: left
}
DIV.stats.box > TABLE TD {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0.25em
}
DIV.thread.menu {
	BORDER-BOTTOM: #bbb 1px solid; BACKGROUND-COLOR: #eee
}
LI.message UL.thread.menu > LI {
	FLOAT: left
}
DIV.expcol {
	TEXT-ALIGN: right; DISPLAY: none; FONT-SIZE: 0.8em
}
DIV.form LABEL {
	MARGIN: 0.25em 0.5em
}
DIV.form INPUT {
	MARGIN: 0.25em 0.5em
}
DIV.form TEXTAREA {
	WIDTH: 98%
}
DIV.body OL {
	MARGIN-LEFT: 3em
}
DIV.body UL {
	MARGIN-LEFT: 3em
}
DIV.body OL LI {
	LIST-STYLE-TYPE: decimal
}
DIV.body UL LI {
	LIST-STYLE-TYPE: disc
}
DIV.body IMG {
	MAX-WIDTH: 98%
}
UL.category {
	CLEAR: both; PADDING-TOP: 1em
}
UL.categoryHome {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; MIN-HEIGHT: 400px; WIDTH: 99%; MAX-HEIGHT: 1100px; CLEAR: both; OVERFLOW: auto; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
LI.category {
	MARGIN-BOTTOM: 1em
}
LI.category > H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.25em
}
LI.category > H2 > A {
	COLOR: #000
}
LI.category > H2 > A:hover {
	COLOR: #f60
}
LI.category > H2 > A:active {
	COLOR: #f60
}
LI.category > H2 > A:focus {
	COLOR: #f60
}
LI.category .categoryName > H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.25em
}
LI.category .categoryName > H2 > A {
	COLOR: #000
}
LI.category .categoryName > H2 > A:hover {
	COLOR: #f60
}
LI.category .categoryName > H2 > A:active {
	COLOR: #f60
}
LI.category .categoryName > H2 > A:focus {
	COLOR: #f60
}
LI.forumheader {
	MARGIN: 1em 1em 0px 0px
}
LI.forum {
	MARGIN: 1em
}
LI.forumHome {
	MARGIN: 0px; PADDING-LEFT: 2em
}
LI.forumheader P {
	MARGIN: 0px; CLEAR: left
}
LI.forum P {
	MARGIN: 0px; CLEAR: left
}
.category UL.forum LI.forum P {
	MAX-WIDTH: 95%
}
LI.forum H3 {
	MAX-WIDTH: 80%; WHITE-SPACE: normal; FLOAT: left; HEIGHT: auto
}
LI.forum H3.forumLink {
	MAX-WIDTH: 100%
}
LI.forumHome H5 {
	MAX-WIDTH: 90%; FLOAT: left
}
LI.forumheader .stat {
	DISPLAY: inline-block; MARGIN-LEFT: 0.25em
}
LI.forum .stat {
	DISPLAY: inline-block; MARGIN-LEFT: 0.25em
}
DIV.statGroup > A > IMG {
	VERTICAL-ALIGN: text-bottom
}
DIV.statGroup > A > IMG {
	MARGIN-LEFT: 1em
}
DIV.statGroup {
	PADDING-BOTTOM: 0.5em
}
LI.forumheader DIV.statsMessages {
	TEXT-ALIGN: left; WIDTH: 35%; FLOAT: right
}
LI.forum DIV.statsMessages {
	TEXT-ALIGN: left; WIDTH: 35%; FLOAT: right
}
LI.forumheader DIV.statsThreads {
	TEXT-ALIGN: left; WIDTH: 65%
}
LI.forum DIV.statsThreads {
	TEXT-ALIGN: left; WIDTH: 65%
}
LI.forumheader DIV.statGroup {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI.forum DIV.statGroup {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI.forum DIV.statsHeader {
	PADDING-BOTTOM: 1em
}
.content UL.forum LI.forum P {
	MAX-WIDTH: 95%
}
LI.thread DIV.stats {
	TEXT-ALIGN: right; FLOAT: right
}
LI.hover.thread DIV.stats {
	FONT-WEIGHT: bold
}
LI.category > H2 > A.expcol {
	FLOAT: right
}
LI.category .forumCategory {
	WIDTH: 100%
}
LI.forum .forumSpace {
	WIDTH: 100%
}
LI.forum .forumSpace .forumContent {
	WIDTH: 70%; FLOAT: left
}
LI.forum .forumSpace .forumStats {
	WIDTH: 30%; FLOAT: left
}
DIV.announcement {
	MARGIN-TOP: 0.5em; CLEAR: both
}
.announcement > A {
	Z-INDEX: 1; POSITION: relative; MARGIN: 0.25em; FLOAT: right; FONT-SIZE: 0.8em
}
UL.announcement > LI > H4 > A {
	VERTICAL-ALIGN: middle
}
UL.announcement > LI > DIV.body {
	PADDING-BOTTOM: 0.25em; MARGIN: 0px 0.25em 0px 20px; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; DISPLAY: none; PADDING-TOP: 0.25em
}
LI.announcement DIV.head {
	DISPLAY: none; MARGIN-LEFT: 20px
}
LI.thread {
	MARGIN-BOTTOM: 0.5em; BORDER-TOP: #bbb 1px solid; PADDING-TOP: 0.25em
}
LI.thread > DIV.searchresult {
	MARGIN-LEFT: 21px
}
LI.thread > DIV.author.searchresult {
	MARGIN-TOP: 3.5px
}
LI.new.thread {
	BACKGROUND-COLOR: #f0e68c
}
LI.thread > H3 {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 10em
}
LI.hasUnread.thread > H3 {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
LI.viewed.thread > H3 {
	FONT-WEIGHT: normal
}
LI.thread > H3 > IMG.alert {
	MARGIN-LEFT: 0.5em
}
LI.thread > IMG.icon {
	FLOAT: left
}
LI.thread > DIV[name='created'] {
	MARGIN-LEFT: 40px
}
LI.thread > DIV[name='replied'] {
	MARGIN-LEFT: 40px
}
LI.thread > DIV[name='forum'] {
	MARGIN-LEFT: 40px
}
A > IMG.icon {
	VERTICAL-ALIGN: middle
}
A > IMG.expcol {
	VERTICAL-ALIGN: middle
}
LI.thread A.expcol {
	VERTICAL-ALIGN: middle
}
LI.thread IMG.icon {
	VERTICAL-ALIGN: middle
}
DIV.container IMG.icon {
	VERTICAL-ALIGN: middle
}
DIV.section IMG.icon {
	VERTICAL-ALIGN: middle
}
LI.thread DIV.preview {
	MARGIN-TOP: 0.5em; DISPLAY: none; MARGIN-LEFT: 40px
}
LI.loading.thread DIV.preview {
	BACKGROUND-IMAGE: url(../images/loading.gif); WIDTH: 24px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; HEIGHT: 24px
}
DIV.preview DIV.thread.menu {
	DISPLAY: none
}
DIV.preview DIV.links {
	TEXT-ALIGN: right
}
DIV.threads {
	TEXT-ALIGN: right
}
DIV.threads > SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0px; WIDTH: 7em; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 0.25em
}
LI.thread > DIV.stats > SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0px; WIDTH: 7em; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 0.25em
}
#controls {
	MARGIN: 1em 0px; CLEAR: right
}
#controls [name='filters'].menu {
	FLOAT: left
}
#controls [name='advancedFilters'].menu {
	WIDTH: 50%; FLOAT: left
}
#controls [name='options'].menu {
	TEXT-ALIGN: right; WIDTH: 20%; FLOAT: right
}
#controls [name='sorts'].menu {
	TEXT-ALIGN: right; FLOAT: right
}
#controls UL.menu > LI {
	DISPLAY: inline
}
#controls UL.menu > LI > A {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; DISPLAY: inline-block; PADDING-TOP: 0.5em
}
A.popup > IMG.drop {
	MARGIN-LEFT: 0.25em
}
UL.popup {
	Z-INDEX: 1000; BORDER-BOTTOM: #bbb 1px solid; POSITION: absolute; TEXT-ALIGN: left; FILTER: alpha(opacity=95); BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 0.5em; BACKGROUND-COLOR: #eee; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; DISPLAY: none; FONT-FAMILY: Verdana, Arial; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 0.5em; opacity: .95
}
UL.popup > LI > A {
	DISPLAY: block
}
P.tag > SPAN.tag {
	MARGIN-LEFT: 0.5em
}
UL.message {
	CLEAR: right
}
UL.root {
	MARGIN-TOP: 1em
}
DIV.answers {
	BORDER-TOP: #61aa34 2px solid; PADDING-TOP: 1em
}
DIV.replies {
	BORDER-TOP: #bbb 2px solid; PADDING-TOP: 1em
}
DIV.answers > H3 {
	MARGIN-BOTTOM: 3px
}
DIV.replies > H3 {
	MARGIN-BOTTOM: 3px
}
DIV.answers UL.message {
	MARGIN-LEFT: 1em
}
DIV.replies UL.message {
	MARGIN-LEFT: 1em
}
UL.answers.message > LI.message DIV.menu {
	BACKGROUND-COLOR: #e0f0c0
}
UL.answers.message DIV.head {
	BACKGROUND-COLOR: #e0f0c0
}
LI.answer.message > DIV.menu {
	BACKGROUND-COLOR: #e0f0c0
}
LI.answer.message DIV.head {
	BACKGROUND-COLOR: #e0f0c0
}
LI.children {
	MARGIN-LEFT: 3em
}
LI.message {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; MARGIN-BOTTOM: 1em; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
LI.answer.message {
	BORDER-BOTTOM: #61aa34 2px solid; BORDER-LEFT: #61aa34 2px solid; BORDER-TOP: #61aa34 2px solid; BORDER-RIGHT: #61aa34 2px solid
}
LI.abusive.message {
	BORDER-BOTTOM: red 2px solid; BORDER-LEFT: red 2px solid; BORDER-TOP: red 2px solid; BORDER-RIGHT: red 2px solid
}
LI.propose.message {
	BORDER-BOTTOM: #0d86b9 2px solid; BORDER-LEFT: #0d86b9 2px solid; BORDER-TOP: #0d86b9 2px solid; BORDER-RIGHT: #0d86b9 2px solid
}
LI.new.message {
	BORDER-BOTTOM: #888 2px solid; BORDER-LEFT: #888 2px solid; BORDER-TOP: #888 2px solid; BORDER-RIGHT: #888 2px solid
}
LI.submitting.message {
	POSITION: relative
}
LI.message DIV.deleted * {
	VERTICAL-ALIGN: middle
}
LI.submitting.message > DIV.submitting {
	BACKGROUND-IMAGE: url(../images/loading.gif); POSITION: absolute; FILTER: alpha(opacity=75); BACKGROUND-COLOR: #fff; BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; TOP: 0px; RIGHT: 0px; LEFT: 0px; opacity: .75
}
LI.message > DIV.head {
	POSITION: relative
}
LI.message > DIV.head > DIV.helpful {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; TOP: 0px; RIGHT: 0px; PADDING-TOP: 0.5em
}
LI.message > DIV.head > DIV.helpful > SPAN {
	FONT-SIZE: 1.5em
}
LI.message > DIV.head > DIV.helpful > SPAN > IMG {
	FILTER: alpha(opacity=35); BACKGROUND-COLOR: #eee; VERTICAL-ALIGN: middle; opacity: .35
}
LI.message > DIV.head > DIV.helpful > SPAN > IMG.submitting {
	BACKGROUND-IMAGE: url(../images/loading.gif); FILTER: alpha(opacity=100); BACKGROUND-COLOR: #fff; WIDTH: 24px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 24px; opacity: 1
}
LI.message > DIV.head > DIV.helpful > A {
	DISPLAY: block; MARGIN-LEFT: 0.5em
}
LI.message > DIV.abusive {
	TEXT-ALIGN: right; FONT-SIZE: 0.85em; MARGIN-RIGHT: 0.25em
}
LI.message > DIV.menu {
	BACKGROUND-COLOR: #eee
}
LI.message > DIV.menu > UL.menu {
	DISPLAY: block
}
.IE7 LI.message > DIV.menu > UL.menu {
	DISPLAY: inline-block
}
LI.message > IMG.answer {
	MARGIN: 1em 8px; FLOAT: left; CLEAR: left
}
LI.message > IMG.proposed {
	MARGIN: 1em 8px; FLOAT: left; CLEAR: left
}
LI.message > IMG.hascode {
	MARGIN: 1em 8px; FLOAT: left; CLEAR: left
}
LI.message UL.menu > LI {
	DISPLAY: inline
}
LI.message UL.menu > LI > A {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; DISPLAY: inline-block; WHITE-SPACE: nowrap; PADDING-TOP: 0.25em
}
LI.message > DIV.head > A.author {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; DISPLAY: inline-block; PADDING-TOP: 0.25em
}
LI.message > DIV.head > SPAN.date {
	VERTICAL-ALIGN: top; PADDING-TOP: 0.25em
}
LI.message A.author IMG {
	MARGIN-RIGHT: 0.5em
}
LI.message A.author {
	VERTICAL-ALIGN: top
}
LI.message > DIV.container {
	MARGIN: 1em 2em 0px 4.5em
}
LI.message DIV.body {
	MARGIN-BOTTOM: 2em; OVERFLOW: visible
}
LI.deleted.message DIV.body {
	TEXT-DECORATION: line-through
}
LI.message DIV.body BLOCKQUOTE {
	PADDING-BOTTOM: 1em; BACKGROUND-COLOR: #d0d0d0; MARGIN: 1em 2em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; PADDING-TOP: 1em
}
LI.message DIV.body DIV.quote {
	PADDING-BOTTOM: 1em; BACKGROUND-COLOR: #d0d0d0; MARGIN: 1em 2em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; PADDING-TOP: 1em
}
UL.history {
	MARGIN-LEFT: 20px
}
UL.history > LI {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0.25em
}
UL.history > LI > SPAN {
	PADDING-RIGHT: 0.5em; FONT-SIZE: 0.9em
}
UL.history > LI > SPAN.type {
	COLOR: #444
}
UL.history > LI > SPAN.date {
	COLOR: #444
}
.profile .badge {
	FLOAT: left; MARGIN-RIGHT: 1em
}
.profile DIV.userInfo {
	FLOAT: left; MARGIN-RIGHT: 1em
}
.profile DIV.userInfo {
	MARGIN-TOP: 0.5em
}
.profile A.profLink {
	FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.profile .content > DIV {
	MARGIN-BOTTOM: 1em
}
.profile DIV.setting {
	MARGIN: 0.25em 0px 0px 2em
}
.profile .box {
	MARGIN-BOTTOM: 1em
}
.profile .box > H4 > A {
	FLOAT: right; FONT-SIZE: 0.8em; FONT-WEIGHT: normal
}
.profile LABEL {
	PADDING-RIGHT: 1em
}
DIV.badge {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 1em; MARGIN: 0.5em 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 1em
}
DIV.badge > IMG {
	VERTICAL-ALIGN: top
}
DIV.badge > SPAN {
	DISPLAY: inline-block
}
.tagCloud {
	BORDER-BOTTOM: #bbb 2px solid; TEXT-ALIGN: center; BORDER-LEFT: #bbb 2px solid; BORDER-TOP: #bbb 2px solid; BORDER-RIGHT: #bbb 2px solid
}
.tagCloud > H4 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0.25em; BACKGROUND-COLOR: #eee; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; PADDING-TOP: 0.25em
}
.tagCloud > .tags {
	MARGIN: 0px 0.2em
}
A.w1 {
	FONT-SIZE: 0.85em
}
A.w2 {
	FONT-SIZE: 1em
}
A.w3 {
	FONT-SIZE: 1.25em
}
A.w4 {
	FONT-SIZE: 1.5em
}
A.w5 {
	FONT-SIZE: 2em
}
DIV.tagit > DIV.content > DIV {
	MARGIN: 0.25em 0px
}
DIV.tagit > DIV.content > DIV.submit {
	TEXT-ALIGN: center
}
DIV.users > .pager {
	FLOAT: left
}
TABLE.users {
	BORDER-BOTTOM: #bbb 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
TR.userstitle {
	TEXT-ALIGN: center; FONT-SIZE: 1.25em; FONT-WEIGHT: bold
}
TR.userstitle TD A IMG {
	VERTICAL-ALIGN: middle
}
TR.userslist {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.5em; HEIGHT: 50px; PADDING-TOP: 0.5em
}
TR.userslist TD {
	BORDER-TOP: #bbb 1px solid
}
TD.displayname {
	TEXT-ALIGN: left
}
TD.displayname > A {
	PADDING-LEFT: 0.5em; VERTICAL-ALIGN: top
}
#rail > DIV {
	WIDTH: 100%; MARGIN-BOTTOM: 1em
}
#rail > DIV {
	OVERFLOW: hidden
}
#rail DIV.leaderboards > .box {
	DISPLAY: none
}
#rail DIV.leaderboards TH {
	TEXT-ALIGN: right
}
#rail DIV.leaderboards TD.num {
	TEXT-ALIGN: right
}
#rail DIV.leaderboards TD.date {
	TEXT-ALIGN: right
}
#rail DIV.leaderboards TD.img {
	TEXT-ALIGN: center
}
#rail DIV.leaderboards TD.name {
	PADDING-LEFT: 0.5em; WIDTH: 100%
}
.editor {
	MARGIN-TOP: 0.5em
}
.editor > .commands {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0.25em; MARGIN-TOP: 0.25em; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; PADDING-TOP: 0.25em
}
.editor > .commands > A {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; DISPLAY: inline-block; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 0.5em
}
.editor > .commands > INPUT {
	VERTICAL-ALIGN: middle
}
.rte {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; MARGIN: 0.5em; WIDTH: 98%; HEIGHT: 300px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
.discover {
	WIDTH: 100%; MARGIN-BOTTOM: 0.5em; PADDING-TOP: 0.25em
}
.discover A.btn {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0.5em; DISPLAY: inline-block; FLOAT: right; FONT-SIZE: 1.25em; FONT-WEIGHT: bold; PADDING-TOP: 0.5em
}
.discover .search {
	PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0.5em; FLOAT: left; HEIGHT: 16px; VERTICAL-ALIGN: middle; PADDING-TOP: 0.5em
}
.colorize .code {
	MARGIN: 1em; WIDTH: 96%
}
.colorize DIV.code {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.textbox {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.disabled {
	BACKGROUND-COLOR: #ccc
}
DIV.section .errorMessage {
	POSITION: relative; LIST-STYLE-TYPE: disc; DISPLAY: none; COLOR: red; MARGIN-LEFT: 2em; FONT-SIZE: 1em; FONT-WEIGHT: bold
}
.error {
	COLOR: red
}
LABEL.error {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.errorBox {
	BORDER-BOTTOM: red 0.25em solid; BORDER-LEFT: red 0.25em solid; BORDER-TOP: red 0.25em solid; BORDER-RIGHT: red 0.25em solid
}
DIV.section {
	FONT-SIZE: 1.2em
}
DIV.helpbubble {
	FONT-SIZE: 1.2em
}
DIV.section P {
	MARGIN: 0px 0px 1em
}
DIV.helpbubble P {
	MARGIN: 0px 0px 1em
}
DIV.helpbubble UL {
	MARGIN: 0px 0px 1em
}
DIV.helpbubble UL {
	MARGIN-LEFT: 1.2em
}
DIV.helpbubble UL LI {
	LIST-STYLE-TYPE: disc
}
DIV.section H3 {
	FONT-SIZE: 1em
}
DIV.helpbubble H3 {
	FONT-SIZE: 1em
}
DIV.section {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; PADDING-TOP: 0.5em
}
DIV.section IMG {
	MARGIN-RIGHT: 0.3em
}
DIV.section SELECT {
	WIDTH: 400px
}
DIV.section INPUT {
	VERTICAL-ALIGN: middle
}
DIV.section UL.relatedThreads {
	MARGIN-LEFT: 1em
}
UL.relatedThreads LI {
	TEXT-INDENT: -20px; MARGIN-LEFT: 20px
}
UL.relatedThreads LI IMG {
	VERTICAL-ALIGN: middle
}
DIV#relatedThreads H4 {
	FONT-SIZE: 1em
}
DIV.section A.expForumSelector {
	FONT-SIZE: 0.75em
}
DIV.section BUTTON#btnSubmit {
	BORDER-BOTTOM: #11a809 1px solid; BORDER-LEFT: #11a809 1px solid; PADDING-BOTTOM: 0.3em; BACKGROUND-COLOR: #dcfdd5; PADDING-LEFT: 0.3em; PADDING-RIGHT: 0.3em; BORDER-TOP: #11a809 1px solid; BORDER-RIGHT: #11a809 1px solid; PADDING-TOP: 0.3em
}
DIV.helpbubble {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 247px; DISPLAY: none; LEFT: 745px
}
DIV.innerbubble {
	BORDER-BOTTOM: #9d9d9d 2px solid; POSITION: absolute; BORDER-LEFT: #9d9d9d 2px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffe0; PADDING-LEFT: 1em; WIDTH: 200px; PADDING-RIGHT: 1em; BORDER-TOP: #9d9d9d 2px solid; TOP: 0px; BORDER-RIGHT: #9d9d9d 2px solid; PADDING-TOP: 1em; LEFT: 19px
}
DIV.innerbubble DIV.close {
	FLOAT: right
}
DIV#forumNameLine SPAN.DefaultForumTitle {
	FONT-WEIGHT: bold
}
DIV.callout {
	BACKGROUND-IMAGE: url(../images/callout_arrow.png); Z-INDEX: 20; POSITION: absolute; WIDTH: 21px; HEIGHT: 29px; TOP: 10px; LEFT: 0px
}
.helpHighlight {
	BACKGROUND-COLOR: #ffffe0
}
DIV#unauthorized {
	FONT-SIZE: 1.5em; FONT-WEIGHT: bold; PADDING-TOP: 3em
}
.watermark {
	FONT-STYLE: italic; COLOR: #999
}
#forumsSearch INPUT[type='text'] {
	BORDER-BOTTOM: #849cb1 1px solid; BORDER-LEFT: #849cb1 1px solid; MARGIN: 0px -2px 0px 0px; FONT-FAMILY: "Segoe UI", Tahoma; FLOAT: left; HEIGHT: 16px; FONT-SIZE: 1.2em; VERTICAL-ALIGN: middle; BORDER-TOP: #849cb1 1px solid
}
#forumsSearch INPUT[type='image'] {
	MARGIN: 0px; FLOAT: left; VERTICAL-ALIGN: middle
}
#forumsSearch #searchRefinements {
	FLOAT: left
}
LI.message DIV.voting {
	BORDER-BOTTOM: #e5e5e5 1px solid; MIN-WIDTH: 2.1em; TEXT-ALIGN: center; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0.5em 0px 0.25em 0.25em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #63ac06; CLEAR: left; FONT-SIZE: 1.5em; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 4px
}
LI.message SPAN.votinglabel {
	WIDTH: 50px; FLOAT: left; CLEAR: left; FONT-SIZE: 0.9em
}
LI.message DIV.votingouterbox {
	PADDING-BOTTOM: 0px; MARGIN: 0.5em 0.25em 0.25em; PADDING-LEFT: 0.25em; WIDTH: 50px; PADDING-RIGHT: 0.25em; FLOAT: left; CLEAR: left; PADDING-TOP: 0px
}
.votecount {
	MARGIN: -0.3em 0px 0px; DISPLAY: block
}
LI.message > DIV.head {
	BORDER-BOTTOM: silver 1px solid; PADDING-BOTTOM: 0.5em; BACKGROUND-COLOR: #eee
}
LI.message > DIV.head > SPAN.date {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0.5em; FLOAT: right; PADDING-TOP: 35px
}
LI.message DIV.body {
	CLEAR: right; FONT-SIZE: 1em
}
SPAN.fullbadge SPAN.name {
	LINE-HEIGHT: 1.25em; FONT-SIZE: 1.25em
}
SPAN.fullbadge > SPAN.affil {
	DISPLAY: inline-block; MARGIN-LEFT: 1em
}
LI.message > DIV.menu {
	CLEAR: left
}
.voteuphreflink {
	DISPLAY: block; COLOR: #63ac06
}
.voteuphreflink:hover {
	TEXT-DECORATION: none
}
LI.message SPAN.join {
	BACKGROUND-COLOR: #8cc63e; PADDING-RIGHT: 0.25em; DISPLAY: inline-block; COLOR: #fff; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
LI.thread SPAN.join {
	BACKGROUND-COLOR: #8cc63e; PADDING-RIGHT: 0.25em; DISPLAY: inline-block; COLOR: #fff; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
LI.thread SPAN.joined {
	BACKGROUND-COLOR: #8cc63e; PADDING-RIGHT: 0.25em; DISPLAY: inline-block; COLOR: #fff; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
LI.thread SPAN.join {
	MARGIN-LEFT: 0.5em
}
LI.message SPAN.join {
	PADDING-BOTTOM: 0.25em; LINE-HEIGHT: 20px; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; MARGIN-LEFT: 20px; PADDING-TOP: 0.25em
}
LI.message IMG.join {
	MARGIN-RIGHT: 0.25em
}
LI.message SPAN.join A {
	BACKGROUND-IMAGE: url(../images/button_bg_green.png); BORDER-BOTTOM: #737173 1px solid; BORDER-LEFT: #737173 1px solid; PADDING-BOTTOM: 0.25em; BACKGROUND-COLOR: #7bba29; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BACKGROUND-REPEAT: repeat-x; COLOR: #000; MARGIN-LEFT: 0.5em; BORDER-TOP: #737173 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #737173 1px solid; PADDING-TOP: 0.25em
}
LI.message SPAN.join A.undo {
	BACKGROUND-IMAGE: url(../images/button_bg_gray.png); BACKGROUND-COLOR: #8c8a8c; BACKGROUND-REPEAT: repeat-x
}
.IEMobile #JelloWrapper {
	BACKGROUND-IMAGE: none
}
.IEMobile .PassportScarab A {
	COLOR: blue
}
.AnnouncementTitle {
	WIDTH: 99.3%
}
.IE .AnnouncementTitle {
	WIDTH: 99%; FLOAT: right
}
INPUT#ErrorSearchBox {
	BORDER-BOTTOM: #849cb1 1px solid; BORDER-LEFT: #849cb1 1px solid; WIDTH: 204px; FONT: 12px "Segoe UI", Tahoma; FLOAT: left; HEIGHT: 16px; BORDER-TOP: #849cb1 1px solid; MARGIN-RIGHT: -5px
}
INPUT#ErrorSearchButton {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
LABEL.hide {
	DISPLAY: none
}
LI.hide {
	DISPLAY: none
}
DIV.forumSearch {
	PADDING-BOTTOM: 1em; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 1em
}
DIV.forumSearch INPUT[type='text'] {
	BORDER-BOTTOM: #849cb1 1px solid; BORDER-LEFT: #849cb1 1px solid; WIDTH: 98.5%; FONT-FAMILY: "Segoe UI", Tahoma; HEIGHT: 16px; FONT-SIZE: 1em; VERTICAL-ALIGN: middle; BORDER-TOP: #849cb1 1px solid; BORDER-RIGHT: #849cb1 1px solid
}
IMG.loading {
	BACKGROUND-IMAGE: url(../images/loading.gif); BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; WIDTH: 24px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center bottom; HEIGHT: 24px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
DIV.pagerTop {
	WIDTH: 75%; FLOAT: left
}
DIV.pagerTop .pager {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ulPopularOrRecent {
	BORDER-BOTTOM: #000 1px solid; PADDING-BOTTOM: 0.2em; MARGIN: 0px 1em 1em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0.2em
}
#ulPopularOrRecent LI {
	PADDING-BOTTOM: 0.2em; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; DISPLAY: inline; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0.2em
}
#ulPopularOrRecent LI.highlight {
	BORDER-BOTTOM: #f0f0f0 1px solid; BORDER-LEFT: #000 1px solid; BACKGROUND-COLOR: #f0f0f0; COLOR: #000; BORDER-TOP: #000 1px solid; CURSOR: default; BORDER-RIGHT: #000 1px solid
}
.sortPlaceholder {
	LINE-HEIGHT: 1.2em; BACKGROUND-COLOR: #659cd2; HEIGHT: 2.7em
}
#mask {
	Z-INDEX: 9000; POSITION: absolute; BACKGROUND-COLOR: #000; DISPLAY: none; TOP: 0px; LEFT: 0px
}
#boxes .window {
	Z-INDEX: 9999; BORDER-BOTTOM: #bbb 2px solid; POSITION: absolute; BORDER-LEFT: #bbb 2px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BORDER-TOP: #bbb 2px solid; TOP: 0px; BORDER-RIGHT: #bbb 2px solid; PADDING-TOP: 0px; LEFT: 0px
}
#boxes #dialog {
	BACKGROUND-COLOR: #fff; WIDTH: 430px; DISPLAY: block; HEIGHT: 90px
}
#boxes .window LABEL {
	FLOAT: left; COLOR: #000; FONT-SIZE: 16px
}
#boxes .window IMG {
	FLOAT: right
}
#boxes .window H4 {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
#boxes .window INPUT[type='text'] {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; WIDTH: 225px; HEIGHT: 20px; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
#boxes .window .textSpan {
	FLOAT: left; VERTICAL-ALIGN: middle
}
#boxes .window .buttonSpan {
	FLOAT: right; VERTICAL-ALIGN: middle
}
.poupTitle {
	PADDING-BOTTOM: 25px; BACKGROUND-COLOR: #a9a9a9; PADDING-LEFT: 0px; MARGIN-BOTTOM: 30px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px
}
DIV.rightRailAnnouncement {
	POSITION: relative; MAX-HEIGHT: 300px; OVERFLOW: hidden; WORD-BREAK: break-all
}
