HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
APPLET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BIG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CITE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DFN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
KBD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
Q {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
S {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SAMP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SMALL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRIKE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRONG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUB {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
VAR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0px; BORDER-COLLAPSE: separate
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#BodyBackground {
	MIN-WIDTH: 36px
}
A {
	COLOR: #0066dd; CURSOR: pointer; TEXT-DECORATION: none
}
A:link {
	COLOR: #0066dd; CURSOR: pointer; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0066dd; CURSOR: pointer; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.bold {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
H1 {
	LINE-HEIGHT: 125%; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; COLOR: #3a3e43; CLEAR: both; FONT-WEIGHT: bold
}
H2 {
	LINE-HEIGHT: 125%; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; COLOR: #3a3e43; CLEAR: both; FONT-WEIGHT: bold
}
H3 {
	LINE-HEIGHT: 125%; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; COLOR: #3a3e43; CLEAR: both; FONT-WEIGHT: bold
}
H4 {
	LINE-HEIGHT: 125%; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; COLOR: #3a3e43; CLEAR: both; FONT-WEIGHT: bold
}
H5 {
	LINE-HEIGHT: 125%; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; COLOR: #3a3e43; CLEAR: both; FONT-WEIGHT: bold
}
H6 {
	LINE-HEIGHT: 125%; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; COLOR: #3a3e43; CLEAR: both; FONT-WEIGHT: bold
}
H1 {
	LINE-HEIGHT: 130%; MARGIN: 5px 0px; FONT-SIZE: 22px
}
H2 {
	MARGIN: 4px 0px; FONT-SIZE: 20px
}
H3 {
	MARGIN: 3px 0px; FONT-SIZE: 18px
}
H4 {
	MARGIN: 2px 0px; FONT-SIZE: 16px
}
H5 {
	FONT-SIZE: 14px
}
H6 {
	FONT-SIZE: 13px
}
.Clear {
	CLEAR: both
}
.ClearBreak {
	PADDING-BOTTOM: 1px; CLEAR: both
}
.ClearLeft {
	CLEAR: left
}
.ClearRight {
	CLEAR: right
}
.ClearRightBreak {
	HEIGHT: 16px; CLEAR: right
}
.Left {
	FLOAT: left
}
.Right {
	FLOAT: right
}
.Center {
	TEXT-ALIGN: center
}
.no_wrap {
	WHITE-SPACE: nowrap
}
P {
	MARGIN: 0px 0px 12px
}
.absolute {
	POSITION: absolute
}
OL {
	LINE-HEIGHT: 125%; MARGIN: 0px 0px 12px; PADDING-LEFT: 26px
}
UL {
	LINE-HEIGHT: 125%; MARGIN: 0px 0px 12px; PADDING-LEFT: 26px
}
LI {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL LI OL LI {
	LIST-STYLE-IMAGE: none
}
.BulletList {
	LINE-HEIGHT: 125%; LIST-STYLE-TYPE: disc; MARGIN: 12px 0px 12px 18px; PADDING-LEFT: 18px
}
.NumberList {
	MARGIN: 12px 0px 12px 24px
}
.DropDownArrow {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px
}
A:hover .DropDownArrow {
	TEXT-DECORATION: none
}
.hidden {
	DISPLAY: none; VISIBILITY: hidden
}
.pre {
	PADDING-BOTTOM: 10px; MARGIN: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.code {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 100%; MARGIN: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; FONT-FAMILY: Lucida Console, Courier New; BACKGROUND: #dddddd; FONT-SIZE: 100%; PADDING-TOP: 10px
}
HTML {
	FONT-SIZE: 100.01%
}
BODY {
	TEXT-ALIGN: left; LINE-HEIGHT: 125%; FONT-FAMILY: "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; COLOR: #333; FONT-SIZE: 84%
}
#BodyBackground {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 483px; PADDING-RIGHT: 483px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/472477aa-82eb-448f-a9e7-9dad00d5fcfd/bg_body_msdn.png) #ced5db repeat-x 50% top; PADDING-TOP: 0px
}
#JelloSizer {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; MAX-WIDTH: 440px; PADDING-TOP: 0px
}
#JelloExpander {
	POSITION: relative; MIN-WIDTH: 966px; PADDING-BOTTOM: 0px; MARGIN: 0px -483px; PADDING-LEFT: 12px; PADDING-RIGHT: 11px; PADDING-TOP: 0px
}
#JelloWrapper {
	WIDTH: 100%; BACKGROUND: none transparent scroll repeat 0% 0%
}
.BrandLogo {
	MARGIN: 2px 0px 0px 8px
}
.Masthead {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 12px
}
.BrandLogo {
	BACKGROUND-IMAGE: url(http://i1.social.s-msft.com/contentservice/45f2ecb1-13db-4d34-9e35-9dad00d69b99/logo_msdn.png); LINE-HEIGHT: 150%; WIDTH: 312px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 32px; COLOR: #313131; FONT-SIZE: 19px; CURSOR: pointer
}
.BrandLogoLink {
	WIDTH: 308px; DISPLAY: block; HEIGHT: 30px
}
#BrandDisplayText {
	DISPLAY: none
}
.BrandLogo A {
	COLOR: #313131
}
.BrandLogo A:link {
	COLOR: #313131
}
.BrandLogo A:visited {
	COLOR: #313131
}
.BrandLogo A:hover {
	COLOR: #313131
}
.BrandLogo A:active {
	COLOR: #313131
}
.PassportScarab {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: right; PADDING-TOP: 0px
}
.PassportScarab A {
	COLOR: #313131
}
.PassportScarab A:link {
	COLOR: #313131
}
.PassportScarab A:visited {
	COLOR: #313131
}
.PassportScarab A:hover {
	COLOR: #313131
}
.PassportScarab A:active {
	COLOR: #313131
}
.UserName {
	TEXT-ALIGN: right; WIDTH: 257px; WHITE-SPACE: nowrap; FLOAT: right; FONT-SIZE: 13px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.UserName A {
	COLOR: #313131
}
.UserName A:link {
	COLOR: #313131
}
.UserName A:visited {
	COLOR: #313131
}
.UserName A:hover {
	COLOR: #313131
}
.UserName A:active {
	COLOR: #313131
}
#NetworkTaglineText {
	DISPLAY: none
}
.NetworkLogo {
	POSITION: absolute; LINE-HEIGHT: 150%; MARGIN: 0px 2px 0px 0px; COLOR: #046cb6; RIGHT: 10px
}
#NetworkTaglineLogo {
	MARGIN-TOP: 2px; WIDTH: 87px; DISPLAY: none; HEIGHT: 23px; MARGIN-RIGHT: 10px
}
.NetworkLogo A {
	COLOR: #046cb6
}
.NetworkLogo A:link {
	COLOR: #046cb6
}
.NetworkLogo A:visited {
	COLOR: #046cb6
}
.NetworkLogo A:hover {
	COLOR: #046cb6
}
.NetworkLogo A:active {
	COLOR: #046cb6
}
.internav A {
	COLOR: #313131; TEXT-DECORATION: none
}
.internav A:link {
	COLOR: #313131; TEXT-DECORATION: none
}
.internav A:visited {
	COLOR: #313131; TEXT-DECORATION: none
}
.internav A:hover {
	COLOR: #313131; TEXT-DECORATION: none
}
.internav A:active {
	COLOR: #313131; TEXT-DECORATION: none
}
#masthead A {
	COLOR: #313131
}
#masthead A:link {
	COLOR: #313131
}
#masthead A:visited {
	COLOR: #313131
}
#masthead A:hover {
	COLOR: #313131
}
#masthead A:focus {
	COLOR: #313131
}
#masthead A:active {
	COLOR: #313131
}
.internav A:hover {
	BACKGROUND-COLOR: #fff
}
.internav A.active {
	BACKGROUND: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png) #becbd7 no-repeat -10px -120px
}
.internav A.active:hover {
	BACKGROUND: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png) #becbd7 no-repeat -10px -120px
}
.LocalNavigation .TabOff A:hover {
	BACKGROUND-COLOR: #313131
}
.LocalNavigation .TabOn {
	BACKGROUND-COLOR: #313131
}
.internav {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 37px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; MAX-WIDTH: 936px; WHITE-SPACE: nowrap; BACKGROUND-POSITION: -430px -68px; FLOAT: left; HEIGHT: 32px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.internav {
	BACKGROUND-IMAGE: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png)
}
.leftcap {
	POSITION: absolute; WIDTH: 40px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png) no-repeat -10px -68px; HEIGHT: 32px; LEFT: -20px
}
.internav A {
	PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; WHITE-SPACE: nowrap; FLOAT: left; COLOR: #313131; PADDING-TOP: 6px
}
.internav A:hover {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff; MARGIN: 1px 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; HEIGHT: 20px; COLOR: #313131; PADDING-TOP: 6px
}
.internav A.active {
	PADDING-BOTTOM: 5px; MARGIN: 1px 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; HEIGHT: 20px; COLOR: #313131; PADDING-TOP: 5px
}
.LocalNavigation {
	PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px -17px; PADDING-LEFT: 0px; WIDTH: 996px; PADDING-RIGHT: 0px; DISPLAY: inline-block; WHITE-SPACE: nowrap; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.localleftcap {
	DISPLAY: none
}
.HeaderTabs {
	MARGIN: 0px 0px 0px 25px; WIDTH: 948px
}
.LocalNavigation .TabOff {
	WHITE-SPACE: nowrap; FLOAT: left
}
.LocalNavigation .TabOff A {
	PADDING-BOTTOM: 4px; MARGIN-TOP: 1px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FLOAT: left; COLOR: #fff; CURSOR: pointer; PADDING-TOP: 4px
}
.LocalNavigation .TabOff A:hover {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 5px
}
.LocalNavigation .TabOn {
	PADDING-BOTTOM: 4px; MARGIN-TOP: 1px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; FLOAT: left; PADDING-TOP: 4px
}
.LocalNavigation .TabOn A {
	COLOR: #fff; CURSOR: default; TEXT-DECORATION: none
}
.LocalNavigation .TabOn A:hover {
	COLOR: #fff; CURSOR: default; TEXT-DECORATION: none
}
.LocalNavigation .TabOn A:visited {
	COLOR: #fff; CURSOR: default; TEXT-DECORATION: none
}
.LocalNavBottom {
	DISPLAY: none
}
.LocalNavigation {
	DISPLAY: none
}
.cleartabstrip {
	HEIGHT: 0px; CLEAR: both
}
* HTML .cleartabstrip {
	DISPLAY: none
}
.topleftcorner {
	MARGIN-TOP: -2px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png) no-repeat -10px -10px; HEIGHT: 17px; MARGIN-RIGHT: 21px
}
.toprightcorner {
	MARGIN-TOP: -17px; WIDTH: 21px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png) no-repeat -1900px -10px; FLOAT: right; HEIGHT: 17px
}
.alley {
	MIN-HEIGHT: 768px; PADDING-LEFT: 19px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/98997906-dd4d-4330-876c-9ee101393adb/contentpaneleftrightsprite.png) repeat-y 0px 0px
}
.wrapper {
	MIN-HEIGHT: 768px; PADDING-RIGHT: 21px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/98997906-dd4d-4330-876c-9ee101393adb/contentpaneleftrightsprite.png) repeat-y right 50%
}
.inner {
	PADDING-BOTTOM: 1px; MIN-HEIGHT: 768px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #fff; PADDING-TOP: 1px
}
.bottomleftcorner {
	BACKGROUND: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png) no-repeat -10px -27px; HEIGHT: 21px; MARGIN-RIGHT: 21px
}
.bottomrightcorner {
	MARGIN-TOP: -21px; WIDTH: 21px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/1de160e2-73af-4669-944f-9ee101393a90/contentpaneInternavActiveSprite.png) no-repeat -1900px -27px; FLOAT: right; HEIGHT: 21px
}
.Search {
	WIDTH: 34%; FLOAT: left
}
.SearchBox {
	BORDER-BOTTOM: #346b94 1px solid; BORDER-LEFT: #346b94 1px solid; BACKGROUND-COLOR: #fff; MARGIN: 0px 0px 12px; WIDTH: 314px; FLOAT: right; HEIGHT: 22px; BORDER-TOP: #346b94 1px solid; BORDER-RIGHT: #346b94 1px solid
}
.SearchBox UL {
	Z-INDEX: 999; LIST-STYLE-TYPE: none; DISPLAY: block; FONT-SIZE: 9pt; LIST-STYLE-IMAGE: none
}
.TextBoxSearch {
	BORDER-BOTTOM: #849cb1 1px solid; BORDER-LEFT: #849cb1 1px solid; PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 232px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: black; FONT-SIZE: 13px; VERTICAL-ALIGN: top; BORDER-TOP: #849cb1 1px solid; BORDER-RIGHT: #849cb1 1px solid; PADDING-TOP: 0px
}
.TextBoxSearchIE7 {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid; PADDING-TOP: 2px
}
.Bing {
	TEXT-ALIGN: right; WIDTH: 47px; DISPLAY: inline-block; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/9fcdc46d-264e-42ba-9916-9d6501354f31/bing.png) #fff no-repeat 0px 0px; FLOAT: right; HEIGHT: 22px; OVERFLOW: hidden
}
.SearchButton {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 21px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/9fcdc46d-264e-42ba-9916-9d6501354f31/bing.png) #fff no-repeat 0px -22px; FLOAT: right; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; VERTICAL-ALIGN: top; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.FooterLogoContainer {
	DISPLAY: none
}
.FooterLinks {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; FONT-SIZE: 9pt; PADDING-TOP: 6px
}
.FooterLinks A {
	COLOR: #03c; FONT-WEIGHT: normal
}
.FooterLinks A:hover {
	COLOR: #f60 !important
}
.FooterCopyright {
	PADDING-RIGHT: 5px; DISPLAY: inline; COLOR: #000; FONT-WEIGHT: normal
}
.IE7 .FooterCopyright {
	ZOOM: 1
}
.Pipe {
	PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #000; FONT-SIZE: 125%
}
.GlobalBar {
	Z-INDEX: 100; POSITION: relative; MARGIN: -4px 10px 0px 0px; WIDTH: 275px; FLOAT: right; COLOR: #313131; FONT-SIZE: 12px
}
.GlobalBar A:hover {
	TEXT-DECORATION: underline
}
.LocaleFlyout {
	WHITE-SPACE: nowrap; FLOAT: right; FONT-SIZE: 12px
}
#TargetPanel A {
	COLOR: #313131
}
.LocaleFlyout A {
	COLOR: #000
}
.LocaleFlyout A:link {
	COLOR: #000
}
.LocaleFlyout A:visited {
	COLOR: #000
}
.LocaleFlyout A:hover {
	COLOR: #000
}
.LocaleFlyout A:active {
	COLOR: #000
}
.LocaleFlyout A:hover {
	TEXT-DECORATION: underline
}
.ContextMenuPanel {
	BORDER-BOTTOM: #b8b8b8 1px solid; POSITION: absolute; MIN-WIDTH: 150px; BORDER-LEFT: #b8b8b8 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: white; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: none; BORDER-TOP: #b8b8b8 1px solid; CURSOR: default; BORDER-RIGHT: #b8b8b8 1px solid; PADDING-TOP: 3px
}
A.ContextMenuItem {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: block; WHITE-SPACE: nowrap; COLOR: #000; FONT-SIZE: 10px; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 1px
}
A.ContextMenuItem:hover {
	BACKGROUND-COLOR: #f0f7fd; TEXT-DECORATION: underline
}
.DropDownArrow {
	PADDING-BOTTOM: 4px; MARGIN: 0px 0px 0px 5px; PADDING-LEFT: 5px; WIDTH: 5px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/3300c9bf-8d30-40ef-8349-9d6e00f78cd2/arrow_dn.gif) no-repeat 0px 7px; HEIGHT: 3px
}
.ApplicationTitle A {
	POSITION: relative; PADDING-RIGHT: 0.75em; DISPLAY: block; FONT: 1.2em "Segoe UI", Tahoma; FLOAT: left; TEXT-DECORATION: none
}
#sitenav {
	FONT: 1.2em "Segoe UI", Tahoma; VERTICAL-ALIGN: bottom
}
#sitenav A {
	PADDING-BOTTOM: 0em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.75em; WHITE-SPACE: nowrap; FLOAT: left; PADDING-TOP: 12px
}
.rssfeed {
	WIDTH: 17px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/2f447308-bfd2-4d0a-a1a1-9dad00d7256b/RSS.png) no-repeat 0px 0px; HEIGHT: 17px
}
H1.ApplicationTitle {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-TOP: 0px
}
.RefinementListContainer {
	PADDING-TOP: 0px
}
SPAN.ResultsMessage SPAN {
	FONT-SIZE: 90%
}
.SearchResultsButton {
	FLOAT: left; MARGIN-LEFT: 0.25em; CURSOR: pointer
}
.SearchResultsButton A {
	FONT-SIZE: 0.84em; FONT-WEIGHT: bold
}
.SearchResultsButton A {
	COLOR: #464646; TEXT-DECORATION: none
}
.SearchResultsButton A:link {
	COLOR: #464646; TEXT-DECORATION: none
}
.SearchResultsButton A:visited {
	COLOR: #464646; TEXT-DECORATION: none
}
.SearchResultsButton A:active {
	COLOR: #464646; TEXT-DECORATION: none
}
.SearchResultsButton A:hover {
	COLOR: #ff6600
}
.SearchResultsButton .ButtonLeft {
	BACKGROUND-IMAGE: url(http://i1.social.s-msft.com/contentservice/4a35dc62-7a8c-4561-a5be-9f510118c8c2/button_left.png); WIDTH: 3px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 22px
}
.SearchResultsButton .ButtonMiddle {
	BACKGROUND-IMAGE: url(http://i1.social.s-msft.com/contentservice/bd20c831-101e-4556-83ff-9f510118c92e/button_middle.png); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BACKGROUND-REPEAT: repeat-x; FLOAT: left; HEIGHT: 22px; PADDING-TOP: 0.1em
}
.SearchResultsButton .ButtonRight {
	BACKGROUND-IMAGE: url(http://i1.social.s-msft.com/contentservice/cea27c19-5e23-423f-8543-9f510118c990/button_right.png); WIDTH: 3px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 22px
}
#RightSideMastHead {
	DISPLAY: none
}
.box {
	MARGIN: 0px 0px 12px; OVERFLOW: hidden
}
.box H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/71e33cb0-9472-431a-a2e7-9d7e002ad77f/headers.gif) #e8e8e8 0px 0px; HEIGHT: 23px; COLOR: #260859; OVERFLOW: hidden; PADDING-TOP: 8px
}
.box H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/71e33cb0-9472-431a-a2e7-9d7e002ad77f/headers.gif) #e8e8e8 0px 0px; HEIGHT: 23px; COLOR: #260859; OVERFLOW: hidden; PADDING-TOP: 8px
}
.box H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/71e33cb0-9472-431a-a2e7-9d7e002ad77f/headers.gif) #e8e8e8 0px 0px; HEIGHT: 23px; COLOR: #260859; OVERFLOW: hidden; PADDING-TOP: 8px
}
.box H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/71e33cb0-9472-431a-a2e7-9d7e002ad77f/headers.gif) #e8e8e8 0px 0px; HEIGHT: 23px; COLOR: #260859; OVERFLOW: hidden; PADDING-TOP: 8px
}
.box H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/71e33cb0-9472-431a-a2e7-9d7e002ad77f/headers.gif) #e8e8e8 0px 0px; HEIGHT: 23px; COLOR: #260859; OVERFLOW: hidden; PADDING-TOP: 8px
}
.box H1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 31px; FONT-SIZE: 20px; PADDING-TOP: 0px
}
.box H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 28px; FONT-SIZE: 18px; PADDING-TOP: 3px
}
.box H3 {
	FONT-SIZE: 16px
}
.box H4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 24px; FONT-SIZE: 14px; PADDING-TOP: 7px
}
.box H5 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 23px; FONT-SIZE: 13px; PADDING-TOP: 8px
}
.box H6 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 100%; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 31px; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.box H1 A {
	COLOR: #260859
}
.box H2 A {
	COLOR: #260859
}
.box H3 A {
	COLOR: #260859
}
.box H4 A {
	COLOR: #260859
}
.box H5 A {
	COLOR: #260859
}
.box H6 A {
	COLOR: #260859
}
.box H1 A:link {
	COLOR: #260859
}
.box H2 A:link {
	COLOR: #260859
}
.box H3 A:link {
	COLOR: #260859
}
.box H4 A:link {
	COLOR: #260859
}
.box H5 A:link {
	COLOR: #260859
}
.box H6 A:link {
	COLOR: #260859
}
.box H1 A:visited {
	COLOR: #260859
}
.box H2 A:visited {
	COLOR: #260859
}
.box H3 A:visited {
	COLOR: #260859
}
.box H4 A:visited {
	COLOR: #260859
}
.box H5 A:visited {
	COLOR: #260859
}
.box H6 A:visited {
	COLOR: #260859
}
.box H1 A:hover {
	COLOR: #260859
}
.box H2 A:hover {
	COLOR: #260859
}
.box H3 A:hover {
	COLOR: #260859
}
.box H4 A:hover {
	COLOR: #260859
}
.box H5 A:hover {
	COLOR: #260859
}
.box H6 A:hover {
	COLOR: #260859
}
.box H1 A:focus {
	COLOR: #260859
}
.box H2 A:focus {
	COLOR: #260859
}
.box H3 A:focus {
	COLOR: #260859
}
.box H4 A:focus {
	COLOR: #260859
}
.box H5 A:focus {
	COLOR: #260859
}
.box H6 A:focus {
	COLOR: #260859
}
.box H1 A:active {
	COLOR: #260859
}
.box H2 A:active {
	COLOR: #260859
}
.box H3 A:active {
	COLOR: #260859
}
.box H4 A:active {
	COLOR: #260859
}
.box H5 A:active {
	COLOR: #260859
}
.box H6 A:active {
	COLOR: #260859
}
.profile .forumPref {
	MARGIN-TOP: -8px
}
#content .box H4 {
	FONT-SIZE: 15px
}
.Container {
	POSITION: relative; MARGIN-BOTTOM: 1em; FONT-SIZE: 1.2em
}
A.BrandLogoLink:hover {
	TEXT-DECORATION: none
}
* HTML .SiteNavTabOffLeft {
	MARGIN-RIGHT: -2px
}
* HTML #LocalNavBottom {
	MARGIN-TOP: -3px; HEIGHT: 5px; FONT-SIZE: 1%
}
* HTML .NavigationBox .ClearLeft {
	FONT-SIZE: 1%
}
* + HTML .NavigationBox .ClearLeft {
	FONT-SIZE: 1%
}
* HTML .SearchButton {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-POSITION: center top; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
* HTML .WebButton {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-POSITION: center top; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.IE6 #JelloExpander {
	HEIGHT: 0px
}
.IE6 #JelloWrapper {
	WIDTH: 99%
}
.IE6 .SearchButton {
	BACKGROUND: url(http://i1.social.s-msft.com/contentservice/9ee792ce-28e5-4ad3-b985-9d7e002bf6a5/bing2.png) #fff no-repeat 0px -22px
}
.bing {
	BACKGROUND: url(http://i1.social.s-msft.com/contentservice/9ee792ce-28e5-4ad3-b985-9d7e002bf6a5/bing2.png) #fff no-repeat 0px 0px
}
.IE6 #MastHeadSearchTextBox {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.IE6 .NavigationBox .ClearLeft {
	FONT-SIZE: 1%
}
.IE6 .BrandLogo {
	MARGIN-LEFT: 10px
}
.IE6 .leftcap {
	POSITION: absolute; WIDTH: 40px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/4baa42e1-5ca6-46ab-9e29-9dad00d65e8e/internav.gif) no-repeat left top; HEIGHT: 32px; LEFT: -20px
}
.IE6 .Container {
	POSITION: relative
}
.IE6 .Container .titleLine {
	POSITION: static
}
.IE6 .Container .contents {
	BORDER-BOTTOM: #828282 1px solid; BORDER-LEFT: #828282 1px solid; DISPLAY: inline-block; BORDER-TOP: #828282 1px solid; BORDER-RIGHT: #828282 1px solid
}
.IE6 #MainContent #Search {
	WIDTH: 100%
}
.IE6 #MainContent #Search .content {
	PADDING-RIGHT: 0px
}
.IE6 .Container .titleLineBottom .blc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .Container .titleLineBottom .brc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .Container .rTop .tlc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .Container .rTop .trc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .Container .rBottom .blc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .Container .rBottom .brc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .ApplicationSearchContainer {
	WIDTH: 20em
}
.IE6 .ApplicationSearchContainer .contents {
	PADDING-BOTTOM: 1em
}
.IE6 #MainContent .TextBoxSearch {
	MARGIN-RIGHT: -0.75em
}
.IE6 #MainContent .Watermark {
	MARGIN-RIGHT: -0.75em
}
.IE6 #toolbar .NewBookmark {
	POSITION: static; FLOAT: left
}
.IE6 #toolbar .ViewBy {
	POSITION: static; FLOAT: left
}
.IE6 #toolbar .FilterBy {
	POSITION: static; FLOAT: left
}
.IE6 #toolbar .TagFilter {
	POSITION: static; FLOAT: left
}
.IE6 #toolbar .NewBookmark {
	TEXT-ALIGN: center; WIDTH: 10%
}
.IE6 #toolbar .ViewBy {
	POSITION: static; WIDTH: 17%; WHITE-SPACE: nowrap
}
.IE6 #toolbar .FilterBy {
	POSITION: static; WIDTH: 21%
}
.IE6 #toolbar .TagFilter {
	MARGIN: 0px 0px 10px; WIDTH: 50%
}
.IE6 #toolbar .NewBookmark .contents {
	HEIGHT: 6.25em
}
.IE6 #toolbar .ViewBy .contents {
	HEIGHT: 6.25em
}
.IE6 #toolbar .FilterBy .contents {
	HEIGHT: 6.25em
}
.IE6 #toolbar .TagFilter .contents {
	HEIGHT: 6.1em
}
.IE6 #toolbar .TagFilter .rTop {
	BORDER-TOP-WIDTH: 0px
}
.IE6 #toolbar .TagFilter .rBottom {
	BORDER-TOP-WIDTH: 0px
}
.IE6 #toolbar .TagFilter .contents {
	BORDER-BOTTOM: #828282 1px solid; BORDER-LEFT: #828282 1px solid; BACKGROUND-COLOR: #eeeeee; BORDER-TOP: #828282 1px solid; BORDER-RIGHT: #828282 1px solid
}
.IE6 #toolbar .contents .label {
	POSITION: static; PADDING-BOTTOM: 0.1em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; COLOR: white; PADDING-TOP: 0.1em
}
.IE6 #toolbar .rTop .tlc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .rTop .trc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .rBottom .blc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .rBottom .brc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .TagFilter .rTop .tlc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .TagFilter .rTop .trc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .TagFilter .rBottom .blc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .TagFilter .rBottom .brc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .TagFilter #moreTags .rTop .tlc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .TagFilter #moreTags .rTop .trc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .rButton {
	POSITION: static
}
.IE6 #toolbar .rButton .rTop .tlc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .rButton .rTop .trc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .rButton .blc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 #toolbar .rButton .brc {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.IE6 .topleftcorner {
	MARGIN-TOP: -2px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/b08acf7b-7fc6-4eab-9550-9dad00d629d0/contentpane.gif) no-repeat 0px 0px; HEIGHT: 17px; MARGIN-RIGHT: 21px
}
.IE6 .toprightcorner {
	MARGIN-TOP: -17px; WIDTH: 21px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/b08acf7b-7fc6-4eab-9550-9dad00d629d0/contentpane.gif) no-repeat 100% 0px; FLOAT: right; HEIGHT: 17px
}
.IE6 .alley {
	PADDING-LEFT: 19px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/e80eace6-2fef-477f-9a5f-9dad00d62a1b/contentpaneleft.gif) repeat-y left 50%; HEIGHT: auto !important
}
.IE6 .wrapper {
	MARGIN-TOP: -2px; MIN-HEIGHT: 768px; PADDING-RIGHT: 21px; MARGIN-BOTTOM: 2px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/f9141507-ba63-4283-96c2-9dad00d641be/contentpaneright.gif) repeat-y right 50%
}
.IE6 .inner {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #fff; HEIGHT: auto !important; PADDING-TOP: 1px
}
.IE6 .bottomleftcorner {
	MARGIN-TOP: -22px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/b08acf7b-7fc6-4eab-9550-9dad00d629d0/contentpane.gif) no-repeat 0px -17px; HEIGHT: 21px; MARGIN-RIGHT: 21px
}
.IE6 .bottomrightcorner {
	MARGIN-TOP: -21px; WIDTH: 21px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/b08acf7b-7fc6-4eab-9550-9dad00d629d0/contentpane.gif) no-repeat 100% -17px; FLOAT: right; HEIGHT: 21px
}
.IE6 LI.forum H3 {
	WIDTH: 60%
}
.IE6 LI.category H2 {
	FONT-SIZE: 17px
}
.IE6 H1 {
	FONT-FAMILY: Arial, "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif
}
.IE6 H2 {
	FONT-FAMILY: Arial, "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif
}
.IE6 H3 {
	FONT-FAMILY: Arial, "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif
}
.IE6 H4 {
	FONT-FAMILY: Arial, "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif
}
.IE6 H5 {
	FONT-FAMILY: Arial, "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif
}
.IE6 H6 {
	FONT-FAMILY: Arial, "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Helvetica, sans-serif
}
.IE6 .leftcap {
	POSITION: absolute; WIDTH: 49px; BACKGROUND: url(http://i1.social.s-msft.com/contentservice/4baa42e1-5ca6-46ab-9e29-9dad00d65e8e/internav.gif) no-repeat -200px 0px; HEIGHT: 32px; LEFT: -29px
}
.IE6 .LocalNavigation {
	BACKGROUND: url(http://i1.social.s-msft.com/contentservice/27e5e50a-3721-49a6-b4f2-9dad00d72614/subnav_msdn.gif) repeat-y right top
}
.IE6 #main-content #user-bar {
	WIDTH: auto !important; FLOAT: right
}
.IE6 #main-content #points-bar {
	FLOAT: right
}
.IE6 #main-content #wrapper {
	FLOAT: right
}
.IE6 #content .category {
	WIDTH: 100%
}
.SystemMessage {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffcc33; MARGIN: 10px auto; PADDING-LEFT: 6px; WIDTH: 50%; PADDING-RIGHT: 6px; COLOR: black; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: black 1px solid; PADDING-TOP: 4px
}
.Msdn #editLink {
	BACKGROUND-COLOR: #e8e8e8
}
.Msdn #left-rail H3 {
	BACKGROUND-COLOR: #e8e8e8
}
.IE7 LI.announcement DIV.head {
	CLEAR: left
}
.search .refine .header {
	BORDER-BOTTOM-COLOR: #260859
}
.IE7 #JelloExpander {
	OVERFLOW: hidden
}
