/**************************************************************************************/
/*
/*	  Designed by 'AS Designing'
/*	  http://www.asdesigning.com
/*
/**************************************************************************************/

#slideshow
{
	float:right;
	width: 685px;
	height: 350px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-image: url(../images/slideshow_bg.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}

#fading 
{
	width: 685px;
	height: 350px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	overflow: hidden;
	background:transparent;
}

#fading img 
{
}

#fading li
{
	list-style: none;
}

ul.pagination 
{
	position: absolute;
	top: 0px;
	left: 0px;
}

ul.pagination li 
{
	width: 0px;
	height: 0px;
}

ul.pagination li a 
{
}

ul.pagination li.current a, 
ul.pagination li a:hover 
{
}

ul.pagination li img 
{
}

